{% extends 'layouts/dashboard.html' %}
{% load static %}

{% block page_title %} SIGEU | Organizaciones Externas {% endblock page_title %}

{% block css_files %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'external_organizations/css/listado.css' %}">
{% endblock css_files %}

{% block js_files %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script defer type="module" src="{% static 'external_organizations/js/listado.js' %}" ></script>
    <script type="module" src="{% static 'external_organizations/js/eliminar.js' %}"></script>
{% endblock js_files %}

{% block content %}
    <table id="tabla-organizaciones" class="main__table display nowrap responsive" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>NIT</th>
                <th>Nombre</th>
                <th>Representante Legal</th>
                <th>Teléfono</th>
                <th>Ubicación</th>
                <th>Sector Económico</th>
                <th>Actividad Principal</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>
{% endblock content %}