.modal {
  width: 100%;
  height: 100dvh;
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal[open] {
  opacity: 1;
  pointer-events: auto;
  z-index: 99;
}

.modal__content {
  width: 500px;
  background: white;
  border-radius: 8px;
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.modal[open] .modal__content {
  transform: scale(1);
  opacity: 1;
}

.modal__header{
  padding: 16px 16px 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__header h3{
  font-weight: 600;
  font-size: 16px;
  color: var(--black);
}

.modal__close--icon{
  width: 24px;
  height: 24px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  transition: .3s ease-in-out scale;
}

.modal__close--icon label i{
  cursor: pointer;
}

.modal__close--icon:hover{
  scale: 1.5;
}

.modal__main{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Steps */
.modal__step {
  display: none;
  flex-direction: column;
  padding: 0 24px;
  opacity: 0;
}

/* Barra de progreso */
.progress {
  height: 6px;
  background-color: #eee;
  border-radius: 6px;
  overflow: hidden;
  margin: 16px 24px;
}

.progress__bar{
  background-color: var(--primary);
  height: 100%;
  transition: .3s ease-in-out width;
}

.modal__paragraph{
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
}

.modal__form{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__form .form__row{
  justify-content: flex-start;
}

.modal__form .form__row .form__group{
  width: 80%;
}

.form__group.form__group--search{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
}

.form__group.form__group--search button[type='submit']{
  padding: 0 16px;
  height: 48px;
  border-radius: 8px;
  font-size: 16px;
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
}

.group__content{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal__footer{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
}

.modal__btn, .modal__close--btn, .entity__btn{
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid var(--pale-gray);
  border-radius: 3px;
  color: var(--black);
  cursor: pointer;
  outline: none;
  font-weight: 500;
}

.modal__btn--primary{
  background-color: var(--primary);
  color: #fff;
}

.modal__btn label, .organization__btn label{
    cursor: pointer;
}

.form__results.hide, .form__suggest.hide{
  display: none
}

/* Cards */

.form__results{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.entity__card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entity__info{
  display: flex;
  align-items: center;
  gap: 14px;
}

.entity__icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entity__description{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.entity__description h5{
  font-size: 14px;
  font-weight: 600;
  color: var(--black);
}

.entity__description span{
  font-size: 12px;
  font-weight: 500;
  color: var(--light-gray);
}

/* Form Suggest */
.form__suggest{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Modal Details */

.modal__details{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal__details h4{
  font-size: 18px;
}

.modal__list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__li span{
  font-weight: 400;
}