.nav{
    grid-area: navbar;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid var(--pale-gray);
}

.nav__content, .nav__user{
    display: flex;
    align-items: center;
}

.nav__content{
    gap: 18px;
}

.nav__user{
    gap: 12px;
}

.nav__user i{
    font-size: 20px;
    cursor: pointer;
    color: var(--light-gray);
    display: inline-block;
    transition: color 0.3s ease;
}

.nav__user i:hover {
    animation: ring 0.6s ease-in-out;
}

@keyframes ring {
    0% { transform: rotate(0); }
    15% { transform: rotate(15deg); }
    30% { transform: rotate(-15deg); }
    45% { transform: rotate(10deg); }
    60% { transform: rotate(-10deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0); }
}

.nav__info h5{
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
}

.nav__info p{
    font-size: 12px;
    font-weight: 400;
    color: var(--light-gray);
}

.nav__logout{
    font-size: 20px;
    color: var(--red);
    cursor: pointer;
}