.sidebar{
    width: 250px;
    grid-area: sidebar;
    border-right: 1px solid var(--pale-gray);
    padding: 30px 0;
    transition: width .3s ease-in-out;
    overflow: hidden;
    position: fixed;
    inset: 0;
    background-color: #fff;
}

.sidebar__logo{
    padding: 0 32px 30px 32px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 21px;
    color: var(--black);
    transition: .3s ease-in-out padding;
}

.sidebar__name,
.item__info h4 {
    transition: opacity 0.3s ease;
}

.sidebar__icon{
    width: 25px;
    height: 25px;
}

.sidebar__list{
    display: flex;
    flex-direction: column;
}

.sidebar__list a {
    text-decoration: none;
}

.sidebar__item{
    padding: 14px 24px 14px 20px;
    cursor: pointer;
}

.item__group{
    display: flex;
    flex-direction: column;
    transition: .3s ease-in-out width;
    height: min-content;
}

.sidebar__item--active .item__group{
    background-color: var(--pale-primary);
    padding: 10px 5px;
    border-radius: 12px;
}

.sidebar__item--active .item__group .item__info h4{
    color: #fff;
}

.sidebar__item--active .item__group .item__info i{
    color: #fff;
}

.item__summary{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item__info{
    display: flex;
    align-items: center;
    gap: 12px;
}

.item__info h4{
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
}

.item__sublist{
    list-style: none;
}

.item__sublist a{
    text-decoration: none;
}

.item__sublist .item__info h4{
    font-size: 15px;
}

.item__info i{
    color: var(--light-gray);
    font-size: 20px;
}

@media screen and (max-width: 1060px) {
    .sidebar {
        width: 70px; 
    }

    .sidebar__logo{
        padding: 0 32px 30px 20px;
    }

    .item__group{
        width: 32px;
    }

    .sidebar__name,
    .item__info h4 {
        opacity: 0;
        pointer-events: none;
    }

    .sidebar:hover, .sidebar:active {
        width: 250px;
        z-index: 999;
    }

    .sidebar:hover .sidebar__logo, .sidebar:active .sidebar__logo{
        padding: 0 32px 30px 32px;
    }

    .sidebar:hover .sidebar__name,
    .sidebar:hover .item__info h4,
    .sidebar:active .sidebar__name,
    .sidebar:active .item__info h4 {
        opacity: 1;
        pointer-events: auto;
    }

    .sidebar:hover .item__group, .sidebar:active .item__group{
        width: 205px;
    }

    .sidebar .item__sublist {
        display: none;
    }

    .sidebar:hover .item__sublist,
    .sidebar:active .item__sublist {
        display: block;
    }
}