{% extends 'layouts/dashboard.html' %}
{% load static %}

{% block page_title %} SIGEU | Dashboard {% endblock page_title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'users/css/dashboard.css' %}">
{% endblock css_files %}

{% block content %}
    <section class="cards">
        {% include 'components/dashboard/card.html' with img="users/assets/img/eventos.webp" title="Gestión de Eventos Universitarios" paragraph="Organiza, actualiza y lleva el control de todos tus eventos en un solo lugar. Haz que cada actividad académica sea un éxito." url="/eventos/mis-eventos/" %}
        {% include 'components/dashboard/card.html' with img="users/assets/img/organizaciones-externas.webp" title="Gestión de Organizaciones Externas" paragraph="Administra las entidades que participan en tus eventos. Facilita la vinculación y potencia el alcance de cada evento." url="/orgs/listado/" %}
        {% include 'components/dashboard/card.html' with img="users/assets/img/perfil.webp" title="Información de Perfil" paragraph="Accede y edita tu información personal de manera rápida y segura. Mantén siempre tu perfil actualizado." url="/perfil/" %}
    </section>
{% endblock content %}