{% extends 'users/layouts/form.html' %}
{% load static %}

{% block page_title %} Registro de Usuario {% endblock page_title %}  

{% block css_files %}
    <link rel="stylesheet" href="{% static 'users/css/base_users.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/registro.css' %}">
{% endblock css_files %}

{% block js_files %}
    <script defer type="module" src="{% static 'users/js/registro.js' %}" ></script>
{% endblock js_files %}

{% block content %}
    <form class="form" method="POST">
        {% csrf_token %}
        <h1 class="form__title">Bienvenido a SIGEU 👋</h1>

        <div class="form__row">
            {% include "components/form/input.html" with field=form.documento %}
            {% include "components/form/input.html" with field=form.nombre %}
        </div>

        <div class="form__row">
            {% include "components/form/input.html" with field=form.apellido %}
            {% include "components/form/input.html" with field=form.email %}
        </div>

        <div class="form__row">
            {% include "components/form/input.html" with field=form.telefono %}
            {% include "components/form/input.html" with field=form.rol %}
        </div>

        {% include "components/form/input.html" with field=form.password1 icon=password_icons %}
        {% include "components/form/input.html" with field=form.password2 icon=password_icons|slice:":1" %}

        <!-- Campos por rol -->
        <div id="campos-estudiante" class="form__row form__optional">
            {% include "components/form/input.html" with field=form.codigo_estudiante %}
            {% include "components/form/input.html" with field=form.programa %}
        </div>

        <div id="campos-docente" class="form__group form__optional hide">
            {% include "components/form/input.html" with field=form.unidadAcademica %}
        </div>

        <div id="campos-secretaria" class="form__group form__optional hide">
            {% include "components/form/input.html" with field=form.facultad %}
        </div>

        <div class="form__actions">
            <button type="submit" class="form__button">Registrarse</button>
            <p class="form__secondary">¿Ya tienes una cuenta? <a href="{%url 'inicio_sesion'%}">Iniciar Sesión</a></p>
        </div>
    </form>
{% endblock content %}