body{
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 100vh;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding-right: 96px;
}

.logo__figure{
    position: fixed;
    top: 48px;
    left: 48px;
}

@media screen and (max-width: 1000px) {
    body{
        padding-right: 0;
        justify-content: center;
    }

    .logo__figure{
        position: absolute;
    }

    .logo__figure img{
        width: 48px;
    }
}