.pagination{
    display: flex;
    justify-content: center;
    margin: 20px auto 32px auto;
    gap: 12px;
}

.pagination__item{
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    width: 40px;
    height: 40px;
    border: 1px solid #F1F1F1;
    border-radius: 8px;
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0 2px 4px rgba(96, 97, 112, 0.16);
    transition: .3s ease-in-out border, .3s ease-in-out color, .3s ease-in-out background-color;
}

.pagination__item:hover{
    border: 1px solid var(--primary);
    color: var(--primary);
}

.pagination__item--active{
    background-color: var(--primary);
    color: #fff;
}

.pagination__pages{
    display: flex;
    justify-content: center;
    gap: 12px;
}