@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary: #FF7AA2;
    --pale-primary: #FF9EBB;

    --blue: #007bff;
    --green: #28a745;
    --red: #FF4141;

    --black: #191D21;
    --dark-gray: #383838;
    --gray: #5C5F6E;
    --light-gray: #666666;
    --pale-gray: #DCDCDC;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Raleway", sans-serif;
}

label, input, textarea, select, button{
    font-family: "Raleway", sans-serif;
}