@import url("./components/dashboard/navbar.css");
@import url("./components/dashboard/sidebar.css");
@import url("./components/dashboard/modal_confirmation.css");

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 72px 1fr;
    grid-row-gap: 38px;
    grid-template-areas: "sidebar navbar"
                         "sidebar content";
}

.wrapper{
    grid-area: content;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h1{
    font-size: 36px;
}

.header p{
    font-size: 14px;
    font-weight: 400;
    color: var(--light-gray);
}

.header:has(h1:empty, p:empty) {
    display: none;
}

@media screen and (max-width: 1060px) {
    body {
        grid-template-columns: 70px 1fr;
    }
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 24px;
    }
}