{% load static %}

<section class="about" id="about">
    <div class="about__img">
        <img src="{% static 'core/assets/img/about.webp' %}" alt="About Illustration">
    </div>
    <div class="about__content">
        <h2 class="about__title">Una plataforma que une a toda la universidad</h2>
        <p class="about__paragraph">SIGEU es la plataforma digital pensada para la Universidad Autónoma de Occidente que centraliza todo el ciclo de vida de los eventos académicos y lúdicos. Permite crear, enviar a validación, aprobar y hacer seguimiento de cada evento desde un mismo lugar, conectando a docentes, estudiantes y secretarías en un flujo ágil, transparente y sin errores. Con SIGEU, planear un evento deja de ser un proceso manual y se convierte en una experiencia ordenada, eficiente y colaborativa.</p>
    </div>
</section>