{% load static %}

<section class="features" id="features">
    <div class="features__content">
        <h2 class="features__title">Todo lo que necesitas para organizar tus eventos</h2>
        <p class="features__paragraph">Con SIGEU, los organizadores pueden planear, enviar, aprobar y hacer seguimiento a sus eventos de manera simple y eficiente. Descubre las principales funcionalidades que harán que cada evento sea un éxito.</p>

        <div class="features__grid">
            <div class="features__item">
                <div class="feature__icon"><i class="ri-folder-add-fill"></i></div>
                <h3 class="feature__title">Creación de Eventos</h3>
                <p class="feature__paragraph">Define tu evento en minutos, agrega instalaciones físicas, organizadores y organizaciones externas sin complicaciones.</p>
            </div>

            <div class="features__item">
                <div class="feature__icon"><i class="ri-send-plane-fill"></i></div>
                <h3 class="feature__title">Envío de Eventos</h3>
                <p class="feature__paragraph">Envía tu evento para revisión directamente desde la plataforma, reduciendo pasos manuales y esperas innecesarias.</p>
            </div>

            <div class="features__item">
                <div class="feature__icon"><i class="ri-notification-2-fill"></i></div>
                <h3 class="feature__title">Notificaciones</h3>
                <p class="feature__paragraph">Mantente al tanto del estado de tus eventos en cada etapa con notificaciones precisas y proactivas.</p>
            </div>

            <div class="features__item">
                <div class="feature__icon"><i class="ri-pages-fill"></i></div>
                <h3 class="feature__title">Evento publicado</h3>
                <p class="feature__paragraph">Una vez aprobado, tu evento se publica automáticamente y todos los usuarios de la plataforma podrán verlo.</p>
            </div>
        </div>
    </div>
    <div class="features__image"></div>
</section>