{% extends 'layouts/dashboard.html' %}
{% load static %}

{% block page_title %} SIGEU | Eventos en Validación {% endblock page_title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'events/css/eventos_enviados.css' %}">
{% endblock css_files %}

{% block js_files %}
    <script type="module" defer src="{% static 'events/js/eventos_enviados.js' %}" ></script>
{% endblock js_files %}

{% block content %}

    <div class="no-results-container">
        <img src="{% static 'events/assets/img/empty.webp' %}" alt="No hay eventos">
        <h3>No hay eventos enviados hasta el momento</h3>
        <p>Prueba a cambiar filtros o espera hasta más tarde.</p>
    </div>

    <section class="cards">
        {% if page_obj.object_list %}
            {% for event in page_obj.object_list %}
                {% include 'events/components/cards/cards_enviados.html' with event=event type=event.estado %}
            {% endfor %}
        {% endif %}
    </section>

    {% if page_obj.paginator.num_pages > 1 %}
        {% include 'events/components/pagination.html' %}
    {% endif %}

    {% include "events/components/modals/modal_organizadores.html"%}
    {% include "events/components/modals/modal_organizaciones_externas.html"%}
    {% include "events/components/modals/modal_evaluacion.html"%}

{% endblock content %}