{% extends 'layouts/dashboard.html' %}
{% load static %}

{% block page_title %} SIGEU | Mis Eventos {% endblock page_title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'events/css/mis_eventos.css' %}">
{% endblock css_files %}

{% block js_files %}
    <script defer type="module" src="{% static 'events/js/mis_eventos.js' %}" ></script>
{% endblock js_files %}

{% block content %}
    {% include 'events/components/filters.html' %}

    <section class="cards">
        {% if page_obj.object_list %}
            {% for event in page_obj.object_list %}
                {% include 'events/components/card.html' with event=event type=event.estado %}
            {% endfor %}
        {% else %}
            <p>No tienes eventos registrados.</p>
        {% endif %}

    </section>

    {% if page_obj.paginator.num_pages > 1 %}
        {% include 'events/components/pagination.html' %}
    {% endif %}
{% endblock content %}