{% extends 'layouts/dashboard.html' %}
{% load static %}

{% block page_title %} SIGEU | Mis Eventos {% endblock page_title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'events/css/mis_eventos.css' %}">
{% endblock css_files %}

{% block js_files %}
    <script type="module" defer src="{% static 'events/js/mis_eventos.js' %}" ></script>
{% endblock js_files %}

{% block content %}
    {% include 'events/components/filters.html' %}

    <div class="no-results-container">
        <img src="{% static 'events/assets/img/empty.webp' %}" alt="No hay eventos">
        <h3>No hay eventos creados hasta el momento</h3>
        <p>Prueba a cambiar filtros o crea un nuevo evento.</p>
    </div>

    <section class="cards">
        {% if page_obj.object_list %}
            {% for event in page_obj.object_list %}
                {% include 'events/components/card.html' with event=event type=event.estado %}
            {% endfor %}
        {% endif %}
    </section>

    {% if page_obj.paginator.num_pages > 1 %}
        {% include 'events/components/mis_eventos_pagination.html' %}
    {% endif %}
{% endblock content %}