{% extends 'layouts/dashboard.html' %}
{% load static %}

{% block page_title %} SIGEU | Registro Evento {% endblock page_title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'events/css/registro.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
{% endblock css_files %}

{% block js_files %}
    <script defer type="module" src="{% static 'events/js/registro.js' %}" ></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
{% endblock js_files %}

{% block content %}
    {% include 'external_organizations/components/modal.html' %}
{% endblock content %}