{% extends 'layouts/dashboard.html' %}
{% load static %}

{% block page_title %} SIGEU | Registro Evento {% endblock page_title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'events/css/registro.css' %}">
{% endblock css_files %}

{% block js_files %}
    <script defer type="module" src="{% static 'events/js/registro.js' %}" ></script>
{% endblock js_files %}

{% block content %}
    {% comment "Modal de buscar organizacion" %}{% include 'external_organizations/components/modal.html' %}{% endcomment %}

    <form class="form" method="POST" >
        {% csrf_token %}

        <div class="form__row">
            {% include "components/form/input.html" with field=form.nombre %}
            {% include "components/form/input.html" with field=form.tipo %}
        </div>

        <div class="form__row">
            {% include "components/form/input.html" with field=form.descripcion %}
            {% include "components/form/input.html" with field=form.fecha %}
        </div>

        <div class="form__row">
            {% include "components/form/input.html" with field=form.horaInicio %}
            {% include "components/form/input.html" with field=form.horaFin %}
        </div>

        <div class="form__actions">
            <button type="submit" class="form__button form__button--norounded">Registrar evento</button>
        </div>
    </form>
{% endblock content %}