.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 24px;
    padding: 120px 80px;
}

.about__img img{
    width: 100%;
}

.about__title{
    font-size: 44px;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 14px;
    color: var(--black);
}

.about__paragraph{
    font-size: 18px;
    line-height: 28px;
    color: var(--gray);
}

/* Responsive */
@media screen and (max-width: 1000px){
    .about{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 24px;
        padding: 120px 48px;
    }

    .about__img img{
        width: 80%;
    }

    .about__title{
        font-size: 32px;
        line-height: 36px;
    }

    .about__paragraph{
        font-size: 16px;
    }
}

@media screen and (max-width: 600px){
    .about{
        padding: 120px 24px;
    }

    .about__title{
        font-size: 28px;
    }

    .about__paragraph{
        font-size: 14px;
    }
}
