.footer{
    background-color: var(--dark-gray);
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.footer__logo img{
    width: 170px;
}

.footer__list{
    display: flex;
    gap: 32px;
    list-style: none;
}

.footer__list a{
    color: #fff;
    text-decoration: none;
    opacity: 0.9;
}

.footer__copy{
    font-size: 14px;
    color: #fff;
    opacity: 0.7;
}

.footer__year{
    font-family: Arial, Helvetica, sans-serif;
}