.hero{
    padding: 140px 80px 0 80px;
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 24px;
    align-items: center;
}

.hero__title{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--black);
}

.hero__paragraph{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 24px;
    color: var(--gray);
}

.hero__cta{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 12px 24px;
    border: 1px solid transparent;
    background-color: var(--primary);
    border-radius: 12px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
}

.hero__cta:hover{
    background-color: #fff;
    border: 1px solid var(--primary);
    color: var(--primary);
    transform: translateY(-4px);
}

.hero__image img{
    width: 100%;
}