@import url("./components/card_enviados.css");
@import url("./components/pagination.css");
@import url("./components/modal_organizadores.css");

.no-results-container{
    display:none; 
    align-items:center; 
    justify-content:center; 
    flex-direction:column; 
    padding:24px;
}

.no-results-container img{
    max-width:240px; 
    margin-bottom:16px;
}