@import url("/static/css/components/dashboard/modal.css");
@import url("/static/external_organizations/css/components/modal.css");
@import url("/static/css/components/forms/form.css");
@import url("/static/css/components/dashboard/loader.css");

.form{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}