@import url("./components/stepper.css");
@import url("./components/stepSection.css");
@import url("/static/css/components/forms/form.css");
@import url("./components/modals/modal_registro.css");
@import url("/static/css/components/dashboard/loader.css");
@import url("/static/css/components/dashboard/slideSection.css");

.main__step{
    max-width: 1100px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
}

.form{
    max-width: 1000px;
    gap: 24px;
}

button label{
    cursor: pointer;
}