@import url("./components/stepper.css");
@import url("./components/stepSection.css");
@import url("/static/css/components/forms/form.css");
@import url("/static/css/components/dashboard/modal.css");
@import url("/static/external_organizations/css/components/modal.css");
@import url("/static/css/components/dashboard/loader.css");

.main__step{
    display: flex;
    flex-direction: column;
    max-width: max-content;
}

.form{
    max-width: 1000px;
    gap: 24px;
}

button label{
    cursor: pointer;
}