<dialog class="modal" id="modal-{{ modal_plural_name|lower }}">
    <div class="modal__content">
        <input type="radio" name="steps" value="1" hidden>
        {% if modal_type != "Instalación Física" %}
            <input type="radio" name="steps" value="2" hidden>
            <input type="radio" name="steps" value="3" hidden>
        {% endif %}

        <header class="modal__header">
            <h3>{{ modal_title }}</h3>
            <button class="modal__close modal__close--icon">
                <label for="openModal"><i class="ri-close-fill"></i></label>
            </button>
        </header>

        <main class="modal__main">
            {% if modal_type != "Instalación Física" %} <div class="progress"><div class="progress__bar"></div></div> {% endif %}

            <div class="modal__step" data-step="1">
                <p class="modal__paragraph">{{ modal_paragraph }}</p>
                <form class="modal__form" id="search-{{ modal_plural_name|lower }}-form">
                    <div class="form__group form__group--search">
                        <div class="group__content">
                            {% include "components/form/input.html" with field=search_field %}
                        </div>
                        <button type="submit">Buscar</button>
                    </div>
                    <span class="loader hide"></span>
                    <div class="form__results hide" id="{{ modal_plural_name|lower }}-container"></div>
                    {% if modal_type == "Organizaciones Externas" %}
                        <div class="form__suggest hide">
                            <h4 class="suggest__title">¿No encuentras la organización que buscas?</h4>
                            <a href="{% url 'registrar_org' %}" class="suggest__cta" target="_blank">Crear Organización Externa</a>
                        </div>
                    {% endif %}
                </form>

                <footer class="modal__footer">
                    <button class="modal__close modal__close--btn">Cerrar</button>
                </footer>
            </div>

            {% if modal_type != "Instalación Física" %}
                <div class="modal__step" data-step="2">
                    <div class="modal__details">
                        <h4>Datos {{ modal_type }}</h4>
                        <ul class="modal__list"></ul>
                    </div>

                    <footer class="modal__footer">
                        <button class="modal__btn modal__btn--prev">Atrás</button>
                        {% if modal_type == "Instalación Física" %}
                            <button class="modal__btn modal__btn--primary" id="asignar-instalacion-fisica">Asignar Instalación Física</button>
                        {% else %}
                            <button class="modal__btn modal__btn--primary">Asociar {{ modal_type }}</button>
                        {% endif %}
                    </footer>
                </div>

                <div class="modal__step" data-step="3">
                    <form class="modal__form" id="asociar-{{ modal_type|lower }}-form" enctype='multipart/form-data'>
                        {% csrf_token %}
    
                        {% for field in modal_associate_form %}
                            <div class="form__row">
                                {% include "components/form/input.html" with field=field type="file" %}
                            </div>
                        {% endfor %}

                        <footer class="modal__footer">
                            <button class="modal__btn modal__btn--prev">Atrás</button>
                            <button type="submit" class="modal__btn modal__btn--primary">Guardar</button>
                        </footer>
                    </form>
                </div>
            {% endif %}
        </main>
    </div>
</dialog>