<nav class="nav">
    <div class="nav__content">
        <div class="nav__user">
            <i class="ri-notification-fill nav__notification {% if notificaciones %}new{% endif %}"></i>
            <div class="nav__info">
                <h5>{{ request.user.nombres }} {{ request.user.apellidos }}</h5>
                <p>{{ request.user.rol }}</p>
            </div>
        </div>
        <button type="button" id="boton-cerrar-sesion" class="nav__logout" aria-label="Cerrar Sesión">
            <i class="ri-logout-circle-r-line"></i>
        </button>
    </div>

    {% include 'components/dashboard/notification.html' %}
</nav>