.form__results.hide, .form__suggest.hide{
    display: none
}

/* Organization Cards */

.form__results{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.organization__card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.organization__info{
    display: flex;
    align-items: center;
    gap: 14px;
}

.organization__icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.organization__description{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.organization__description h5{
    font-size: 14px;
    font-weight: 600;
    color: var(--black);
}

.organization__description span{
    font-size: 12px;
    font-weight: 500;
    color: var(--light-gray);
}

/* Form Suggest */
.form__suggest{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Modal Details */

.modal__details{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modal__details h4{
    font-size: 18px;
}

.modal__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal__li span{
    font-weight: 700;
}