@import url('/static/css/components/forms/form.css');

.form{
    max-width: 820px;
    margin: 56px 0;
    background-color: #fff;
    padding: 48px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form__title{
    font-size: 48px;
    font-weight: 800;
    color: var(--black);
}

/* Form Icons */

.icon__btn{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 40px;
    right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
}

.icon__btn i{
    font-size: 20px;
    color: var(--light-gray);
    opacity: .8;
}

.form__group:has(#id_password1) .icon__btn:last-of-type{
    top: -5px;
}

.form__group:has(#id_password1) .icon__btn:last-of-type i{
    color: var(--primary);
    opacity: 1;
}

/* Evita que el <button> genere el icono por pseudo-elemento */
.icon__btn.ri-eye-fill::before,
.icon__btn.ri-eye-off-fill::before,
.icon__btn:focus::before,
.icon__btn:focus-visible::before {
  content: none !important;
  display: none !important;
}

/* End Form Icons */

/* Responsive */
@media screen and (max-width: 1000px) {
    .form{
        margin-top: 120px;
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .form__title{
        font-size: 32px;
    }
    
    .icon__btn{
        top: 35px;
    }
}

@media screen and (max-width: 720px) {
    .form{
        padding: 36px;
    }

    .form__title{
        font-size: 28px;
    }
}

@media screen and (max-width: 660px) {
    .form__title{
        font-size: 20px;
    }
    
    .icon__btn{
        top: 35px;
    }

    .form__actions{
        flex-direction: column;
    }

    .form__button{
        width: 100%;
    }
}