<h2 class="step__title">{{ title }}</h2>
<div class="step__row">
    <h3 class="step__subtitle">{{ subtitle }}</h3>
    <button type="button" class="step__button" id="{{ id_btn }}">{{ row_btn }}</button>
</div>

<div class="step__cards"></div>

<div class="step__actions">
    {% if is_editing %} <button class="step__button step__button--prev">Atrás</button>{% endif %}
    {% if type == "Organizaciones" %}
        <button class="step__button step__button--finish">Finalizar</button>
    {% else %} 
        <button class="step__button step__button--next" data-skip>Omitir</button>
    {% endif %}
</div>

{% if type == "Instalaciones Físicas" %}
    {% include "events/components/modal_registro.html" with modal_title="Asignar Instalación Física" modal_paragraph="Busca las instalaciones físicas que serán ocupadas en el evento..." search_field=modal_buscar_instalaciones_form.ubicacion modal_type="Instalación Física" modal_plural_name="instalaciones" %}
{% elif type == "Organizadores" %}
    {% include "events/components/modal_registro.html" with modal_title="Asignar Organizador" modal_paragraph="Busca los organizadores que coordinarán junto a ti en el evento..." search_field=modal_buscar_organizadores_form.nombre_completo modal_associate_form=modal_asociar_organizador_form modal_type="Organizador" modal_plural_name="organizadores" %}
{% elif type == "Organizaciones" %}
    {% include "events/components/modal_registro.html" with modal_title="Asignar Organización" modal_paragraph="Busca las organizaciones externas que participarán en el evento..." search_field=modal_buscar_organizaciones_form.nit modal_associate_form=modal_asociar_organizacion_form modal_type="Organizacion" modal_plural_name="organizaciones" %}
{% endif %}