{% extends 'users/layouts/form.html' %}
{% load static %}

{% block page_title %}Correo Enviado{% endblock page_title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'users/css/base-users.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/inicio_sesion.css' %}">
{% endblock css_files %}

{% block js_files %}
    <script defer type="module" src="{% static 'users/js/password_reset_confirm.js' %}"></script>
{% endblock js_files %}

{% block content %}
<div class="form form--message">
    
    <h1 class="form__title">¡Revisa tu Correo! 📧</h1>
    
    <p class="form__description">
        Si el correo electrónico que ingresaste está asociado con una cuenta, hemos enviado un enlace para restablecer tu contraseña.
    </p>
    
    <div class="form__info">
        <h3>Próximos pasos:</h3>
        <ul>
            <li>Revisa tu bandeja de entrada</li>
            <li>Si no encuentras el correo, revisa tu carpeta de spam</li>
            <li>El enlace es válido por 24 horas</li>
        </ul>
    </div>
    
    <div class="form__actions">
        <a href="{% url 'inicio_sesion' %}" class="form__button"> Volver al Inicio de Sesión</a>
        <p class="form__secondary">
            <a href="{% url 'password_reset' %}" class="form__link">¿No recibiste el correo? Intenta de nuevo</a>
        </p>
    </div>
</div>
{% endblock content %}
