<dialog class="modal" id="modal-orgs" open>
    <div class="modal__content">
        <input type="radio" name="steps" id="step1" hidden checked>
        <input type="radio" name="steps" id="step2" hidden>
        <input type="radio" name="steps" id="step3" hidden>

        <header class="modal__header">
            <h3>Asociar Organización Externa</h3>
            <button class="modal__close modal__close--icon"><label for="openModal"><i class="ri-close-fill"></i></label></button>
        </header>

        <main class="modal__main">
            <div class="progress"><div class="progress__bar"></div></div>

            <div class="modal__step modal__step--1">
                <p class="modal__paragraph">Busca las organizaciones que participaran en el evento...</p>
                <form class="modal__form" id="search-orgs-form">
                    <div class="form__group form__group--search">
                        <div class="group__content">
                            <label for="nit" class="form__label">NIT</label>
                            <input type="search" name="nit" id="nit" class="form__input numeric-field" required pattern="^\d+(-\d+)?$" title="Formato invalido para NIT">
                        </div>
                        <button type="submit">Buscar</button>
                    </div>
                    <span class="loader hide"></span>
                    <div class="form__results hide" id="orgs-container"></div>
                    <div class="form__suggest hide">
                        <h4 class="suggest__title">¿No encuentras la organización que buscas?</h4>
                        <a href="{% url 'registrar_org' %}" class="suggest__cta" target="_blank">Crear Organización Externa</a>
                    </div>
                </form>

                <footer class="modal__footer">
                    <button class="modal__close modal__close--btn">Cerrar</button>
                </footer>
            </div>

            <div class="modal__step modal__step--2">
                <div class="modal__details">
                    <h4>Datos Organización Externa</h4>
                    <ul class="modal__list">
                        <li class="modal__li" id="organizacion-nit"><span>NIT: </span> TEXTO</li>
                        <li class="modal__li" id="organizacion-nombre"><span>Nombre: </span> TEXTO</li>
                        <li class="modal__li" id="organizacion-representante"><span>Representante Legal: </span> TEXTO</li>
                        <li class="modal__li" id="organizacion-telefono"><span>Teléfono: </span> TEXTO</li>
                        <li class="modal__li" id="organizacion-ubicacion"><span>Ubicación: </span> TEXTO</li>
                        <li class="modal__li" id="organizacion-sector"><span>Sector económico: </span> TEXTO</li>
                        <li class="modal__li" id="organizacion-actividad"><span>Actividad principal: </span> TEXTO</li>
                    </ul>
                </div>

                <footer class="modal__footer">
                    <button class="modal__btn modal__btn--cancel"><label for="step1">Atrás</label></button>
                    <button class="modal__btn modal__btn--primary"><label for="step3">Asociar Organización</label></button>
                </footer>
            </div>
        </main>
    </div>
</dialog>